/* The grid container styling */
.grid-container {
    background-color: #ff7052;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,150px);
    gap: 25px;
    /* Grid container properties  */
}

/* grid item styling  */
.item {
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.item-1 {
    background-color: chartreuse;
    /* justify-self properties  => for horizontal change position
                        stretch(default) | start | end | center */
    /* justify-self: center; */

}
.item-2 {
    background-color: chocolate;
    /* Align-self properties =-> for vertival change position
                    stretch(default) | start| end |center */
    align-self: center;
    align-self: end;
}
.item-3 {
    background-color: cornflowerblue;
    /* place-self properties => short hand properties for align-self and     justify-self */
    place-self:start end;

}
.item-4 {
    background-color: olivedrab;
}
.item-5 {
    background-color: darkorchid;
}
.item-6 {
    background-color: darkseagreen;
}
.item-7 {
    background-color: dimgray;
}
.item-8 {
    background-color: yellow;
}