/* The grid container styling */
.grid-container {
    background-color: #ff7052;

    display: grid;
    /* grid-template-rows: repeat(2,min-content);
    grid-template-columns: 1fr 1fr min-content 1fr; */

    /*----------------- Grid container properties ----------------- */
    /*-- max-content & min-content properties values  */

    /* minmax(min-content,max-content) */
    /* grid-template-columns: 1fr 1fr min-content 1fr;
    grid-template-rows: repeat(2,minmax(100px,min-content));  */
    grid-template-rows: repeat(2,minmax(100px,min-content)); 
    grid-template-columns: minmax(200px,2fr) repeat(3, 1fr);

}
    /* => It means our rows track (height) will be minimun 100px or greater than that. 
} 

/* grid item styling  */
.item {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.item-1 {
    background-color: chartreuse;
}
.item-2 {
    background-color: chocolate;
}
.item-3 {
    background-color: cornflowerblue;
}
.item-4 {
    background-color: olivedrab;
}
.item-5 {
    background-color: darkorchid;
}
.item-6 {
    background-color: darkseagreen;
}
.item-7 {
    background-color: dimgray;
}
.item-8 {
    background-color: yellow;
}