/* Reset  */

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* ----------------- Utility Components ==> Reusable codes ----------------- */
:root {
    font-size: 62.5%;
    /*------ Common Custom Properties ----  */
    /* Colors  */
    --color-primary: #730039;
    --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
    --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

    --color-secondary: #ffc513;
    --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
    --color-secondary-m-dark: hsla(45, 100%, 54%, 0.85);

    --color-tertiary: #ff724c;
    --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
    --color-tertiary-m-dark: hsla(13, 100%, 65%, 0.85);
 
    --color-quaternary: #f6eedf;
    --color-secondary-m-light: hsla(39, 56%, 92%, 0.55);
    --color-secondary-m-dark: hsla(39, 56%, 92%, 0.85);
    /* --transition Duration  */
    --transition-duration: 0.3s;
    /* Title Font Sizing  */
    --font-size-title: calc(2rem + 2vw);
    /* Section Padding  */
    --padding-section: 8vh 3vw;


}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.7;
    background-color: var(--color-quaternary);
}

.container {
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] repeat(10,[col-start] minmax(min-content, 11rem)[col-end])  [center-end] 1fr [container-end];
    grid-template-rows: 100vh repeat(8,min-content)
}

a:link,
a:visited {
    color:var(--color-quaternary);
    text-decoration: none;
    font-size: calc(0.5rem + 1vw);
    padding: 1rem 2rem;
    position: relative;
    transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
    z-index: 1;
}

/* Paragraph  */
p {
    color: white;
    font-size: calc(1rem + 1vw);
    font-weight: 300;
}
li {
    list-style: none;
    margin-bottom: 4rem;
    color: white;
}
/* Icons  */
i {
    font-size: var(--font-size-title);
    color: var(--color-secondary)
}

/* -------------main Styling -------------- */
/*---------------- Header Section ---------------- */
header#header {
    /* background-color: var(--color-primary); */
    grid-column: container-start / container-end;
    background: linear-gradient(
        var(--color-primary-m-light),
        var(--color-primary-m-light)
    ),url('img/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Nav bar  */
.header__main-nav {
    position: fixed;
    top:0;
    left:0;
    z-index: 6;
}
.header__main-nav input[type="checkbox"] {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

/* Hamburger  */
.header__main-nav--hamburger {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    background-color: var(--color-secondary);
    z-index: 2;

    display: grid;
    place-items: center;

    animation: main-nav 5s;
}

@keyframes main-nav {
    0% {
        transform: translateX(90vw) rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate();
        opacity: 1;
    }
}
/* Hamberger Lines  */
.header__main-nav--hamburger > div {
    position: relative;
    height: 0.3rem;
    width: 100%;
    background: var(--color-quaternary);

    display: grid;
    place-items: center;
    transition: all var(--transition-duration) ease-in-out;
}

/* Hamberger Top and botton lines  */
.header__main-nav--hamburger > div::before,
.header__main-nav--hamburger > div::after {
    content: '';
    position: absolute;
    top: -1rem;
    width: 60%;
    height: inherit;
    background-color: inherit;
    z-index: 2;

} 
.header__main-nav--hamburger > div::before {
    left: 0;
}
.header__main-nav--hamburger > div::after {
    top: 1rem;
    right: 0;
}

/* Rotating the Menu  */
.header__main-nav
 input[type="checkbox"]:checked + .header__main-nav--hamburger > div {
    transform: rotate(135deg);
}
.header__main-nav
 input[type="checkbox"]:checked + .header__main-nav--hamburger > div::before {
     top: 0;
     left: 0;
     width: 100%;
     transform: rotate(270deg);
 }
 .header__main-nav
 input[type="checkbox"]:checked + .header__main-nav--hamburger > div::after {
     opacity: 0;
 }
 .header__main-nav
 input[type="checkbox"]:checked:hover+ .header__main-nav--hamburger > div {
     transform: rotate(405deg);
 }

 /* Links menu  */
.header__main-nav--menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: hidden;

    display: grid;
    place-items: center;

}
.header__main-nav--menu > div {
    background-color: hsla(45, 100%, 54%, 0.85);
    /* background-color: var(--color-secondary-m-dark); */
    height: 200%;
    width: 200%;

    display: grid;
    place-items: center;
    transform: scaleX(0);
    transition: all 1s ease-in-out;
}
.header__main-nav--menu > div > div {
    /* background-color: white; */
    margin-top: 100px;
    text-align: center;
    max-width: 90vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

/* displaying the content when checkbox is checked  */
.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu {
    visibility: visible;

}
.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu > div {
    transform: scaleX(1);

}
.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu > div > div {
    opacity: 1;
}

.header__main-nav--menu ul li a:link,
.header__main-nav--menu ul li a:visited {
    z-index: 5;
    font-size: calc(1.5rem + 0.5vw);
}
.header__main-nav--menu ul li a:link::before,
.header__main-nav--menu ul li a:visited::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scaleY(0);
    background-color: var(--color-primary-m-light);
    transition: transform var(--transition-duration) ease-in-out;
}
.header__main-nav--menu ul li a:hover::before,
.header__main-nav--menu ul li a:active::before {
    transform: scaleY(1);

}

/* The rest of the header section  */
.header__logo__content {
    display: grid;
    grid-template-columns: 1fr minmax(30rem,1fr) 1fr;
    grid-template-rows: min-content;
    height: 90%;
    justify-items: center;


}
.header__logo__content--logo {
    grid-column: 2 / 3;
}
.header__logo__content--content {
    grid-column: 1 / -1;
    align-self: center;
}
.header__logo__content--content__title {
    font-size: calc(2rem + 4vw);
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    padding: 0 2rem 0 calc(2rem + 2vw);
}
.header__logo__content--content__para {
    font-size: calc(1rem + 2vw);
    font-weight: 300;
    /* color: black; */
    padding: 2vh 2rem 6vh calc(2rem + 2vw);
}
.header__logo__content--content__link:link,
.header__logo__content--content__link:visited {
    margin-left: var(--font-size-title);
    border: 0.2rem solid var(--color-tertiary);
}
.header__logo__content--content__link:link::before,
.header__logo__content--content__link:visited::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-tertiary);
    transform: scaleX(0);
    transition: all 0.45s cubic-bezier(1, 0, 0, 1);
    z-index: -1;
}
.header__logo__content--content__link:hover::before,
.header__logo__content--content__link:active::before {
    transform: scaleX(1);
}

/* ---------------------Booking Content Section  ----------------------------*/
section#booking-content {
    grid-column: center-start / col-end 6;
    padding: var(--padding-section);

    display: grid;
    grid-template-rows: repeat(3,max-content);
    gap: 2vh;

}

.booking-content__title {
    font-size: var(--font-size-title);
    padding: 0 2rem 1rem;
    font-weight: 200;
    position: relative;
}
.booking-content__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 0.2rem;
    width: 30%;

    background-color: var(--color-secondary);

}

.booking-content__para {
    padding:2rem;
    color: var(--color-primary);

}
.booking-content__icons {
    margin-left: 2rem;

    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.booking-content__icons--weather,
.booking-content__icons--time {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 10vh;
    justify-items: start;
    align-items: start;
}
.booking-content__icons--weather p,
.booking-content__icons--time p {
    color: var(--color-primary)
}

/* Booking date Section  */
section#booking-date {
    grid-column: col-end 6 / center-end ;
    padding: var(--padding-section);
    
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.booking-date__schedule {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2vw;
    place-items: center;
}
.booking-date__schedule--arrival,
.booking-date__schedule--departure,
.booking-date__schedule--guest {
    display: grid;
    grid-row-gap: 3vh;
}
.booking-date__schedule--arrival > div p:nth-child(2) ,
.booking-date__schedule--departure > div p:nth-child(2) ,
.booking-date__schedule--guest > div p:nth-child(2)  {
    font-size: calc(1rem + 1.5vw);
    font-weight: 700;
}
.booking-date__schedule--arrival h5,
.booking-date__schedule--departure h5,
.booking-date__schedule--guest h5 {
    font-size: calc(0.5rem + 1vw);
    row-gap: 2vh;
    text-align: center;
}
.booking-date__schedule--arrival > div,
.booking-date__schedule--departure > div,
.booking-date__schedule--guest > div {
    background-color: var(--color-secondary);
    padding: 2rem 4rem;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    position: relative;
}
.booking-date__schedule--arrival > div::before,
.booking-date__schedule--departure > div::before,
.booking-date__schedule--guest > div:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 1.5rem;
    margin-left: -1.5rem;
    border-style: solid;
    border-color: transparent transparent var(--color-secondary);
}


.booking-date__contact {
    align-self: end;
}
.booking-date__contact--link:link,
.booking-date__contact--link:visited {
    background-color: var(--color-secondary);
    color: white;
    transition: all var(--transition-duration) ease-in-out;
}
.booking-date__contact--link:hover,
.booking-date__contact--link:active {
    background-color: transparent;
    color: var(--color-secondary);
    border: 0.15rem var(--color-secondary) solid;
}
.booking-date__contact p:first-of-type {
    margin-top: 3rem;
}
.booking-date__contact p:first-of-type,
.booking-date__contact p:nth-of-type(2),
.booking-date__contact p:nth-of-type(3) {

    color: var(--color-primary);
    font-weight: 500;
}
/*------------------------- Village section ---------------------  */
section#villas {
    grid-column: container-start / container-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
}

/* Caret element selector  */
div[class^="villas"] {
    padding: 2rem;
    background-size: cover;
    background-position: center;
    transition: transform var(--transition-duration) ease-in-out;
}
div[class^="villas"]:hover,
div[class^="villas"]:active {
    transform: scale(1.05);
}
div[class^="villas"] h2[class^="villas"] {
    font-size: var(--font-size-title);
    padding: 0 2rem 1rem 0;
    font-weight: 400;
    color:white;
    text-transform: uppercase;

}
div[class^="villas"] p[class^="villas"] {
    font-size: 2rem;
    margin: 1.5rem 0 4rem 0;
    /* font-weight: 500; */
}
div[class^="villas"] a[class^="villas"]:link,
div[class^="villas"] a[class^="villas"]:visited {
    display: inline-block;
    margin-bottom: 2rem;
    background-color: white;
    color: var(--color-primary);
    z-index: 2;
    overflow: hidden;
}
div[class^="villas"] a[class^="villas"]:hover,
div[class^="villas"] a[class^="villas"]:active {
    color: white;
}
div[class^="villas"] a[class^="villas"]:link::before,
div[class^="villas"] a[class^="villas"]:visited::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: var(--color-secondary);
    transition: height var(--transition-duration) ease-in-out;

    transform: translate(-50%, -50%) rotate(45deg); 
}
div[class^="villas"]:nth-child(2n) a[class^="villas"]:hover::before,
div[class^="villas"]:nth-child(2n) a[class^="villas"]:active::before {
    transform: translate(-50%, -50%) rotate(-45deg); 
}
div[class^="villas"] a[class^="villas"]:hover::before,
div[class^="villas"] a[class^="villas"]:active::before {
    height: 400%;
}

.villas__villa-1 {
    background: linear-gradient(var(--color-primary-m-light),var(--color-tertiary-m-light)), url('img/Villas/villa-1.jpg');
}
.villas__villa-2 {
    background: linear-gradient(var(--color-primary-m-light),var(--color-tertiary-m-light)), url('img/Villas/villa-2.jpg');
}
.villas__villa-3 {
    background: linear-gradient(var(--color-primary-m-light),var(--color-tertiary-m-light)), url('img/Villas/villa-3.jpg');
}
.villas__villa-4 {
    background: linear-gradient(var(--color-primary-m-light),var(--color-tertiary-m-light)), url('img/Villas/villa-4.jpg');
}
.villas__villa-5 {
    background: linear-gradient(var(--color-primary-m-light),var(--color-tertiary-m-light)), url('img/Villas/villa-5.jpg');
}
.villas__villa-6 {
    background: linear-gradient(var(--color-primary-m-light),var(--color-tertiary-m-light)), url('img/Villas/villa-6.jpg');
}
/*-------------------------------- Motto section --------------------  */
section#motto {
    background-color: var(--color-secondary);
    grid-column: container-start / container-end;
    height: 400px;
}
/* ------------------------ Events content section --------------------  */
section#events-content {
    background-color: var(--color-tertiary);
    grid-column: container-start / col-end 9;
    height: 300px;
}
/*---------------------------------- Events text section ------------------------------- */
section#events-text {
    background-color: var(--color-primary);
    grid-column: col-start 10 / center-end ;
    height: 300px;
}
/* -------------------------------Galary Text section -------------------------------------  */
section#gallery-text {
    background-color: var(--color-secondary);
    grid-column: center-start / col-end;
    height: 300px;
}
/* ------------------------------------------Galary Carousel section ------------------------------  */
section#gallery-carousel {
    background-color: var(--color-primary);
    grid-column: col-end / container-end;
    height: 300px;
}
/* --------------------------------------------Feature content section -----------------------  */
section#features-content {
    background-color: var(--color-secondary);
    grid-column: container-start / col-end 9;
    height: 400px;
}
/* --------Feature text section  */
section#features-text {
    background-color: var(--color-tertiary);
    grid-column: col-start 10 / center-end;
    height: 400px;
}
/* --------Testimonial section  */
section#testimonials {
    background-color: var(--color-primary);
    grid-column: center-start / center-end;
    height: 400px;
}
/* --------Footer section  */
section#footer {
    background-color: var(--color-tertiary);
    grid-column: container-start / container-end;
    height: 400px;
}

/*---------------------------------- 1000px Mark Medai Querry ---------------------- */
@media screen and (max-width: 1000px) {
    /* all linsk  */
    a:link,
    a:visited {
        font-size: calc(1rem + 1vw);
    }
}

/* belllow 800px  */
@media screen and (max-width: 800px) {
    section#booking-date {
        margin-top: -50px;
        grid-column: center-start / col-end;
    }

    .booking-content__title {
        text-align: center;
    }
    .booking-content__title::after {
        width: 20%;
        left: 40%;
  
    }
    .booking-date__schedule--arrival > div,
    .booking-date__schedule--departure > div,
    .booking-date__schedule--guest > div {
        grid-template-columns: min-content;
        padding: 4rem;
    }
}
@media screen and (max-width: 600px) {
    .header__logo__content--content__para {
        font-size: 2rem;
    }
    /* Villas section  */
    div[class^="villas"] p[class^="villas"] {
        font-size: calc(1.2rem + 1vw);
        /* margin: 1.5rem 0 4rem 0; */
        /* font-weight: 500; */
    }
}