<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css//setting.css">
    <title>Document</title>
</head>
<body>
    <div class="setting">
        <div class="lead_reminder_date">
            <div class="lead_reminder_date--text">
                <p>Lead Reminder Date</p>
            </div>
            <p><input type="text" placeholder="1"><span>Days after</span></p>
        </div>
        <div class="quote_expire_date">
            <div class="quote_expire_date--text">
                <p>Quote Expire Date</p>
            </div>
            <p><input type="text" placeholder="7"><span>Days after</span></p>
        </div>
        <div class="invoice_expire_date">
            <div class="invoice_expire_date--text">
                <p>Invoice Expire Date</p>
            </div>
            <p><input type="text" placeholder="7"><span>Days after</span></p>
        </div>
        <div class="gst_setting">
            <div class="gst_setting--text">
                <p>Gst Setting</p>
            </div>
            <p><input type="radio"> <span>Not Applicable</span><input type="radio" class="input-2"><span>Including Gst</span><input type="radio" class="input-3"><span>Excluding Gst</span></p>
        </div>
        <div class="additional_field_1">
            <div class="additional_field_1--text">
                <p>Additional Field 1</p>
            </div>
            <p><input type="text" placeholder="Project Testing"><input type="checkbox" class="checkbox_input"> <span>Is Required</span></p>
        </div>
        <div class="field_1_description">
            <div class="field_1_description--text">
                <p>Field 1 Description</p>
            </div>
            <p><textarea type="textArea" placeholder="All development and testing will be done under AusNep testing server and Customer can see and do user level testing from there. "></textarea></p>
        </div>
        <div class="additional_field_2">
            <div class="additional_field_2--text">
                <p>Additional Field 2</p>
            </div>
            <p><input type="text" placeholder="Payment Terms"><input type="checkbox" class="checkbox_input"> <span>Is Required</span></p>
        </div>
        <div class="field_2_description">
            <div class="field_2_description--text">
                <p>Field 2 Description</p>
            </div>
            <p><textarea type="textArea" placeholder="50% of total amount will require as an Advance and rest of amount after completion of project before uploading into live server. "></textarea></p>
        </div>
        <div class="additional_field_3">
            <div class="additional_field_3--text">
                <p>Additional Field 3</p>
            </div>
            <p><input type="text" placeholder="License No"><input type="checkbox" class="checkbox_input"> <span>Is Required</span></p>
        </div>
        <div class="creditcard_paymentCharge">
            <div class="creditcard_paymentCharge--text">
                <p>Credit Card payment's Charge</p>
            </div>
            <p><input type="text" placeholder="2"><span>%</span></p>
        </div>
        <p class="payment_option_invoice">Payment option display in an invoice</p>
        <p class="payment_via_phone"><input type="checkbox"><span>Credit Card Payment via Phone</span></p>
        <div class="enter_phone_no">
            <div class="enter_phone_no--text">
                <p>Enter Phone No</p>
            </div>
            <p><input type="text" placeholder="1300 AUSNEP (1300 287 637)"></p>
        </div>
        <p class="payment_via_phone"><input type="checkbox"><span>Credit card payment via online</span></p>
        <div class="payment_via_online">
            <div class="payment_via_online--text">
                <p>Credit card payment via online</p>
            </div>
            <p><input type="text" placeholder="www.ausnepit.com.au/pay"></p>
        </div>
        <p class="payment_via_phone"><input type="checkbox"><span>Credit card payment via Paypal</span></p>
        <div class="payment_via_paypal">
            <div class="payment_via_paypal--text">
                <p>Credit card payment via Paypal</p>
            </div>
            <p><input type="text" placeholder="www.ausnepit.com.au/pay"></p>
        </div>
        <p class="payment_via_phone"><input type="checkbox"><span>Payment via Bank</span></p>
        <div class="bank_transfer">
            <div class="bank_transfer--text">
                <p>Bank Transfer</p>
            </div>
            <p><input type="text" placeholder="AusNep Group Pty Ltd"></p>
        </div>
        <div class="BSB">
            <div class="BSB--text">
                <p>BSB</p>
            </div>
            <p><input type="text" placeholder="062 475"></p>
        </div>
        <div class="account_number">
            <div class="account_number--text">
                <p>Account Number</p>
            </div>
            <p><input type="text" placeholder="062 475808 809880 898"></p>
        </div>
        <p class="payment_via_phone"><input type="checkbox"><span>Payment via Cheque</span></p>
        <div class="mail_to">
            <div class="mail_to--text">
                <p>Mail To</p>
            </div>
            <p><input type="text" placeholder="AusNep IT Solutions "></p>
        </div>
        <div class="mail_to_address">
            <div class="mail_to_address--text">
                <p>Mail To Address</p>
            </div>
            <p><input type="text" placeholder="AusNep IT Solutions "></p>
        </div>
        <div class="display_payment_option">
            <div class="display_payment_option--text">
                <p>Display Payment option online</p>
            </div>
            <p><input type="checkbox"></p>
        </div>
    </div>
    <div class="submit_n_reset">
        <div class="submit_n_reset--container">
            <button>Submit</button>
            <button>Reset</button>
        </div>
    </div>
</body>
</html>