*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button_container {
    background-color: rgba(71, 30, 30, 0.699);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button_container > div {
    background-color: rgba(255, 255, 255, 0.712);
    height: 50px;
    width: 40vw;
    margin: 20px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.5rem + 2vw);
    color: rgba(61, 35, 35, 0.829);
    position: relative;
    cursor: pointer;
    // z-index: -1;
}

.button_container-btn1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: chartreuse;
    border: 10px solid rgba(255, 255, 255, 0.712);
    z-index: -1;
    transition: top,left,right,bottom,0.35s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.button_container-btn1:hover::before {
    top: calc(10px *-2);
    left: calc(10px *-2);
    right: calc(10px *-2);
    bottom: calc(10px *-2);
    z-index: 1;
}
.button_container-btn2::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    background-color: purple;
    z-index: -1;
    transition:  all 0.5s ease-in-out;
    transform: scaleX(0);
}

.button_container-btn2:hover p{
    color: white;
    transition: color 0.5s ease-in-out;
    z-index: 5;
}
.button_container-btn2:hover::before {
    z-index: 1;
    transform: scaleX(1);

}
.button_container-btn3 {
    overflow: hidden;
}
.button_container-btn3::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: orange;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    transition-delay: 0.2s;
    transform: scaleX(0);

} 
.button_container-btn3 p{
    z-index: 1;
}
.button_container-btn3:hover::before {
    transform: scale(3) rotate(30deg);
}
.button_container-btn4 {
    overflow: hidden;
}
.button_container-btn4::before{
    content: "";
    top: 90%;
    left: 0;
    right: -1px;
    bottom: 0;
    position: absolute;
    border-top: 5px solid rgba(27, 24, 214, 0.849);
    transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
    transform-origin: left;
    transform: scaleX(0);

} 
.button_container-btn4::after {
    content: "";
    top: 0%;
    left: 0;
    right: -1px;
    bottom: 0;
    position: absolute;
    border-top: 5px solid rgba(27, 24, 214, 0.849);
    transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
    transform-origin: right;
    transform: scaleX(0);
}
.button_container-btn4:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.button_container-btn4:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
