<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/invoice_setting.css">
    <title>Document</title>
</head>
<body>
    <div class="invoice_setting">
        <h3>Get paid on time by sheduling payment reminders for your customer:</h3>
        <div class="invoice_setting--container">
            <div class="invoice_setting--container__para">
                <p><input type="checkbox"><span>14 Days Before expiry</span></p>
                <p><input type="checkbox"><span>7 Days Before expiry</span></p>
                <p><input type="checkbox"><span>3 Days Before expiry</span></p>
                <p><input type="checkbox"><span>2 Days Before expiry</span></p>
                <p><input type="checkbox"><span>1 Days Before expiry</span></p>
                <p><input type="checkbox"><span>On due date</span></p>
                <p><input type="checkbox"><span>1 Days After expiry</span></p>
                <p><input type="checkbox"><span>2 Days After expiry</span></p>
                <p><input type="checkbox"><span>7 Days After expiry</span></p>
                <p><input type="checkbox"><span>14 Days After expiry</span></p>
            </div>
            <div class="invoice_setting--container__button">
                <button>Submit</button>
            </div>
        </div>
    </div>
</body>
</html>