<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css//editCompanyInfo.css">
    <title>Edit Company Info</title>
</head>
<body>
    <div class="e_c_i">
       <div class="e_c_i--container">
        <p>Account Info</p>
        <div class="account_info">
            <div class="account_info--name">
                <div class="account_info--name__para">
                    <p><span>First Name</span><input type="text" placeholder="Bivek"></p>
                </div>
                <p><span>Last Name</span><input type="text" placeholder="Chhetri"></p>
                
            </div>
            <div class="account_info--email_n_password">
                <div class="account_info--email_n_password__para">
                    <p><span>Email</span><input type="email" placeholder="info@ausnepit.com.au"></p>
                </div>
                
                <p><span>Password</span><input type="password" placeholder="Chhetri"></p>
                
            </div>
        </div>
        <div class="horizontal--line"></div>
        <p>Profile Info</p>
        <div class="profile_info">
            <div class="profile_info--company_name_n_email">
                <div class="profile_info--company_name_n_email__para">
                    <p><span>Company Name</span><input type="text" placeholder="OEBS"></p>
                </div>
                <p><span>Quote Email</span><input type="email" placeholder="info@ausnepit.com.au"></p>
                
            </div>
            <div class="profile_info--order_n_account_email">
                <div class="profile_info--order_n_account_email__para">
                    <p><span>Order Email</span><input type="email" placeholder="info@ausnepit.com.au"></p>
                </div>
                <p><span>Account Email</span><input type="password" placeholder="info@ausnepit.com.au"></p>
            </div>
            <div class="profile_info--addrs1_n_addrs2">
                <div class="profile_info--addrs1_n_addrs2__para">
                    <p><span>Address 1</span><input type="email" placeholder="Suite 3 Level 1, 49 York St"></p>
                </div>
                <p><span>Address 2</span><input type="password" placeholder="0"></p>
            </div>
            <div class="profile_info--state_n_abn">
                <div class="profile_info--state_n_abn__para">
                    <p><span>State</span>
                        <select name="" id="">
                            <option value="">Select</option>
                            <option value="">WESTERN AUSTRALIA</option>
                            <option value="">VICTORIA</option>
                            <option value="">SOUTH AUSTRALIA</option>
                            <option value="">QUEENSLAND</option>
                            <option value="">NORTHERN TERRITORY</option>
                        </select>
                    </p>
                </div>
                <p><span>ABN</span><input type="password" placeholder="42162544274"></p>
            </div>
            <div class="profile_info--postCode_n_check">
                <div class="profile_info--postCode_n_check__para">
                    <p><span>Address 1</span><input type="email" placeholder="2000"></p>
                </div>
                <p> <span><input type="checkbox"></span> display in invoice and order</p>
            </div>
            <div class="profile_info--country_n_phone">
                <div class="profile_info--country_n_phone__para">
                    <p><span>Country</span>
                        <select name="" id="">
                            <option value="">Select</option>
                            <option value="">AUSTRALIA</option>
                            <option value="">India</option>
                            <option value="">Nepal</option>
                            <option value="">America</option>
                            <option value="">Japan</option>
                        </select>
                    </p>
                </div>
                <p><span>Phone</span><input type="text" placeholder="0425327800"></p>
            </div>
            <div class="profile_info--logo_n_replaceLogo">
                <div class="profile_info--logo_n_replaceLogo__para">
                    <div><span>Logo</span><img src="/component/img/bf0d25d2eb99537de7cf513b4c131dc8_thumb.png" alt="logo"></div>
                </div>
                <p><span>Replace Logo</span><input type="file" placeholder="0"></p>
            </div>
        </div>
        <div class="horizontal--line"></div>
        <div class="checkEmail_n_addmore_contacts">
            <p>Check-In Email</p>
            <button>Add more contacts</button>
        </div>
        <div class="check_in_email">
            <div class="check_in_email--name_email_mobile">
                <p><span>Name</span><input type="text" placeholder="Joker Danzik"></p>
                <p><span>Email</span><input type="text" placeholder="jolerdan2@gmail.com"></p>
                <p><span>Mobile</span><input type="text" placeholder="5434534534"></p>
            </div>
            <div class="check_in_email--name_email_mobile">
                <p><span>Name</span><input type="text" placeholder="Madan Rijal"></p>
                <p><span>Email</span><input type="text"placeholder='mmadan23@gmail.com'></p>
                <p><span>Mobile</span><input type="text" placeholder="9987663726"></p>
            </div>
            <div class="check_in_email--name_email_mobile">
                <p><span>Name</span><input type="text" placeholder="Manish Thapa"></p>
                <p><span>Email</span><input type="text" placeholder="manish23@gmail.com"></p>
                <p><span>Mobile</span><input type="text" placeholder="0406674848"></p>
            </div>
        </div>
        <div class="horizontal--line__last"></div>
        <div class="submit_n_reset">
            <div class="submit_n_reset--buttons">
                <button>Submit</button>
                <button>Reset</button>
            </div>
        </div>
       </div>
    </div>
</body>
</html>